*.ipynb_checkpoints
.venv
notebooks/logs
__pycache__
.env

data/lfw-deepfunneled*
data/lfw_facenet_embeddings.parquet
data/lfw_facenet_embeddings_label_spreading.parquet
data/embedding_projector_label_spreading/embeddings.tsv
data/embedding_projector_label_spreading/metadata.tsv
data/feedback
data/lfw-colors.parquet